header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.remove-style-button {
  border:none!important;
  background-color: white!important;
}

.user-info {
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: -10px -5px 5px black;
}
