.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container textarea {
  margin-bottom: 10px;
}

.create-post {
  width: 45vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.create-post button {
  margin-top: 20px;
}

.update-post {
  width: 45vw;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.update-post button {
  width: 22.5vw;
  margin: 20px 10px
}

.post-container table {
  margin-left: 9vw;
}

th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

.post-side {
  min-width: 10vw;
}

.post-center {
  min-width: 29vw;
}

.button-deletar-post {
  margin-left: 1vw;
  margin-top: 1vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
